<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[FUJIAN]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" sizes="57x57"
          href="{{ url_for('static', filename='icon/apple/apple-touch-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ url_for('static', filename='icon/apple/apple-touch-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ url_for('static', filename='icon/apple/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ url_for('static', filename='icon/apple/apple-touch-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
          href="{{ url_for('static', filename='icon/apple/apple-touch-icon-60x60.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="{{ url_for('static', filename='icon/apple/apple-touch-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="{{ url_for('static', filename='icon/apple/apple-touch-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="{{ url_for('static', filename='icon/apple/apple-touch-icon-152x152.png') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/fav/favicon-196x196.png') }}"
          sizes="196x196"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/fav/favicon-96x96.png') }}"
          sizes="96x96"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/fav/favicon-32x32.png') }}"
          sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/fav/favicon-16x16.png') }}"
          sizes="16x16"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/fav/favicon-128.png') }}"
          sizes="128x128"/>
    <meta name="application-name" content="Fujian"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='icon/ms/mstile-144x144.png') }}"/>
    <meta name="msapplication-square70x70logo" content="{{ url_for('static', filename='icon/ms/mstile-70x70.png') }}"/>
    <meta name="msapplication-square150x150logo"
          content="{{ url_for('static', filename='icon/ms/mstile-150x150.png') }}"/>
    <meta name="msapplication-wide310x150logo"
          content="{{ url_for('static', filename='icon/ms/mstile-310x150.png') }}"/>
    <meta name="msapplication-square310x310logo"
          content="{{ url_for('static', filename='icon/ms/mstile-310x310.png') }}"/>
    <meta property="og:title" content="FUJIAN Tools"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image"
          content="{{ request.host_url }}{{ url_for('static', filename='img/header/fujianog.png') }}"/>
    <meta property="og:image:url"
          content="{{ request.host_url }}{{ url_for('static', filename='img/header/fujianog.png') }}"/>

</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
<script src="{{ url_for('static', filename='js/app.js') }}" type="application/javascript"></script>
<footer>
    <div class="footer">
        Made by APlus+ (Owner of 24Batch/ECx)
        <br/>
    </div>
</footer>
</html>