{% extends 'base.html' %}
{% block content %}
    <div class="container py-2">
        {% if title is defined %}
        <h2>{{ title }}</h2>
            {% for doc in content %}
                <div class="row py-1" style="text-align: center">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3" style="text-align: left">
                        <div class="btn btn-outline-info">URL : {{ doc['rule'] }}</div>
                    </div>
                    <div class="col-lg-3" style="text-align: left">
                        <div class="btn btn-outline-warning">
                            Methods :
                            {% for methods in doc['methods'] %}
                                [{{ methods }}]
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
{% endblock %}