{% extends 'base.html' %}
{% block content %}
<div class="container py-4 animate__animated animate__fadeIn">
    <div class="container" style="text-align: center">
        <h2>จำนวนนักศึกษา มหาวิทยาลัยเทคโนโลยีสุรนารี</h2>
        <br/>
        <h1 id="counterDIV" style="font-size:6em;"></h1>
    </div>
</div>
<div class="container py-4 animate__animated animate__fadeInUp" style="text-align: center">
    <div class="btn btn-info" id="credit">
        สาสน์จากผู้พัฒนาระบบ
        <input type="hidden" id="count" value="{{ student_count }}"/>
    </div>
    <br/>
</div>
</body>
{% endblock %}